@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&family=M+PLUS+Rounded+1c:wght@300&family=Montserrat+Alternates:wght@300&display=swap');

.App {
  background-image: url(../public/shadow-leaf.jpg);
  background-size: cover;
  background-position-x: right;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 36px;
  color:#333;
}
.question-block {
  width: 40%;
  margin-left: 20%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: flex-start;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.question-block__id {
  font-size: 45px;
}
.question-block__button {
  font-size: 36px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background: none;
  border: none;
  color: #333;
  margin: 0;
  padding: 0;
  border-left: 0.1em solid #333;
  padding-left: 0.5em;
  padding-right: 0.6em;
  width:fit-content;
  cursor: pointer;
}
.question-block__button:hover {
  background-color: #333;
  color:white;
}
.footer {
  font-size: 18px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2rem;
}
@media only screen and (max-width: 768px) {
  .question-block {
    width: 90%;
    font-size: 24px;
    margin-left: 5%;
    margin-top: 30%;
  }
  .question-block__id {
    font-size: 30px;
  }
  .question-block__button {
    font-size: 24px;
  }
  .footer {
    font-size: 14px;
  }
}